<input [type]="type" [formControl]="control" [mask]="format" [dropSpecialCharacters]="false"
       class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                    duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
       [placeholder]="placeHolder"
/>
<ng-container *ngIf="control.touched || control.dirty">
  <p class="text-red-400" *ngIf=" control.errors?.['required']">
   {{'validation.required' | translate}}
  </p>
  <p class="text-red-400" *ngIf="control.errors?.['minlength']"
     [translate]="'validation.minlength'" [translateParams]="{actualLength: control.errors?.['minlength']?.actualLength,requiredLength:control.errors?.['minlength']?.requiredLength}">
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['email']">
    {{'validation.email' | translate}}
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['emailTaken']">
    {{'validation.emailTaken' | translate}}
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['min']">
    {{'validation.min' | translate}}
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['max']">
    {{'validation.max' | translate}}
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['pattern']">
    {{'validation.pattern' | translate}}
  </p>
  <p class="text-red-400" *ngIf=" control.errors?.['notMatch']">
    {{'validation.notMatch' | translate}}
  </p>
</ng-container>
